<div class="container">

    {{!--#first_name
    #last_name
    #eventTitle
    #description
    #eventDate--}}

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="eventTitle" type="text" class="validate">
                    <label for="eventTitle">Event Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea"></textarea>
                    <label for="description">Event Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s1">
                    <label for="date">Event Date</label>
                </div>
                <div class="input-field col s2">
                    <input type="date" class="datepicker" id="eventDate">
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>
</div>