<div class="container">

    {{! All tags for req.body --#first_name #last_name #eventTitle #eventDescription #eventDate--}}

    <div class="row">
        {{!--<form class="col s12" action="/api/events" method="POST">--}}
            {{!--<div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>--}}
            <div class="row">
                <div class="input-field col s12">
                    <input id="eventTitle" name="eventTitle" type="text" class="validate">
                    <label for="eventTitle">Event Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="eventTime" name="eventTime" type="datetime-local" class="validate">
                </div>
                <div class="input-field col s6">
                    <select name="category" id="category">   
                    <option value="film">film</option>
                    <option value="game">game</option>
                    <option value="music">music</option>
                    <option value="party">party</option>
                    <option value="play">play</option>        
                </select>
                    <label>Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="eventDescription" id="eventDescription" class="materialize-textarea"></textarea>
                    <label for="eventDescription">Event Description</label>
                </div>
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit">Submit<i class="material-icons right">send</i></button>
                </div>
            </div>

    </div>
    </form>
</div>
</div>

<script>
    $(document).ready(function () {
        $('#createEvent').click(function () {
            console.log($('#category option:selected').attr('categoryid'));
            $.post({
                data: {
                    eventTitle: $('#eventTitle').val(),
                    eventTime: $('#eventTime').val(),
                    category: $('#category').val(),
                    eventDescription: $('#eventDescription').val(),
                    categoryID: $('#category option:selected').attr('categoryid'),
                },
                url: '/api/events',
                success: function (result) {
                    console.log(result);
                
                   // $("#neededItems").load(window.location.href + " #neededItems");
                }
            });
        });

    })

</script>