<div class="container">

{{!-- Needs Dynamic population of title, description and items, as well as letting users add items --}}
{{!--Need to fix main layout links for this page, as login, filter and add event become unresponsive on this page --}}
    <div class="col s12 m6">
     
        <h1>{{this.title}}</h1>
        <img src="../images/sample-1.jpg">
        <p>{{this.description}}</p>
      
        <form action="#">
            <div id="neededItems">
            </div>
        </form>

    </div>
</div>