<div class="container">
    <div class="row">

        {{#each Events}}
        <div id="events">
            {{!-- Modal Placeholder --}}
            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-image">
                        <a href="#modal1"><img src="./images/sample-1.jpg"></a>
                        <span class="card-title">{{this.title}} {{this.date}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{this.category}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>


{{!-- Modal example --}}
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Event Title</h4>
        {{!--<img class="responsive-img" src="./images/sample-1.jpg">--}}
        <a href="eventID" method="GET">Full Event Page</a>
        <p>Here are some details about our event</p>

        <form action="#">

            <p>
                <input type="checkbox" id="check1" />
                <label for="check1">Chairs</label>
            </p>
            <p>
                <input type="checkbox" id="check2" />
                <label for="check2">Robes</label>
            </p>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>